<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="endpoint" value="https://YOUR_RESOURCE_NAME.openai.azure.com/" />
    <add key="api-key" value="fake-key-fake-key-fake-key-fake-key" />
    <add key="gpt-deployment-name" value="gpt-35-turbo" />
    <add key="embed-deploy-name" value="text-embedding-ada-002" />
  </appSettings>
</configuration>
